<!--
  Generated template for the SharePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>

  <p class="titl">About</p>
  <div>
    <span id="acon">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid libero explicabo rerum nam amet odit
      eaque, quia ipsa earum dolor a corporis placeat accusamus? Ullam odit 
      neque facere amet sed.
    </span>
  </div>

  <p class="titl">Help</p>
  <div>
      <span id="help">
        For help and Feedback please send an email to \n <a href="mailto:umarmash@gmail.com">umarmash@gmail.com</a>
      </span>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
      <p>Made with <ion-icon name="heart" color="instagram"></ion-icon> from Nigeria</p>
    </ion-toolbar>
  </ion-footer>
